@import 'variables'

#overview
  margin-bottom: 2rem
  .heading
    padding: 1rem 2rem
    border-bottom: 1px solid $shadow
  .overview
    padding: 2rem
    .language-bar
      +fb(center, space-between)
      margin: 2rem 0
      span
        height: 0.5rem
        border-radius: 10px
    .statistics
      +fb(center, space-around)
      flex-wrap: wrap
      & > *
        width: 33.33%
        @media #{$small}
          &:nth-child(1)
            width: 100%
            margin-bottom: 2rem
          &:nth-child(n + 2)
            width: 50%
      ul
        list-style: none
        padding: 0
        margin: 0
        +fb(center, center)
        flex-wrap: wrap
        li
          +fb(center, flex-start)
          flex-direction: column
          font-weight: 300
          width: 25%
          @media #{$large}
            width: 50%
            &:nth-of-type(n + 3)
              margin-top: 1rem
          @media #{$small}
            width: 25%
            &:nth-of-type(n + 3)
              margin-top: 0
          .color
            height: 1.5rem
            width: 1.5rem
            border-radius: 100%
            margin: 0.5rem 0
          &:nth-child(1)
            .color
              background-color: $color1
          &:nth-of-type(2)
            .color
              background-color: $color2
          &:nth-of-type(3)
            .color
              background-color: $color3
          &:nth-of-type(4)
            .color
              background-color: $color4
          .stat-bar
            +fb(center, flex-end)
            flex-direction: column
          .label
            font-size: 0.85rem
      .statistic
        text-align: center
        font-weight: 300
        .number
          font-size: 2rem
    .more
      text-align: center
      margin-top: 2rem
      font-weight: 300
      font-size: 0.85rem
      p
        margin: 0
