@import 'variables'

#repositories
  .heading
    padding: 1rem 2rem
    border-bottom: 1px solid $shadow
  .repos
    padding: 2rem 1rem
    position: relative
    .scrollBar
      position: absolute
      top: 0
      right: 0
      height: 1rem
      width: 5px
      background-color: $color2
      border-radius: 5px
    .list
      height: 20rem
      padding: 0 1rem 1rem
      margin: 0
      list-style: none
      overflow: auto
      overflow-x: visible
      +fb(stretch, space-between)
      flex-wrap: wrap
      &::-webkit-scrollbar
        display: none
    .repo
      width: calc(50% - 1rem)
      background-color: white
      border-radius: 5px
      border: none
      box-shadow: 0 5px 12px rgba(black, 0.05)
      &:nth-child(n + 3)
        margin-top: 2rem
      @media #{$tweener}
        width: 100%
        &:nth-child(n + 2)
          margin-top: 2rem
      a
        display: block
        color: $text
        padding: 1rem 1rem 2rem
        border-radius: 5px
        transition: 0.25s
        font-weight: 300
        &:hover
          .name
            &:after
              width: 115%
        .meta
          margin-bottom: 1rem
          +fb(center, space-between)
          color: $color1
        .name
          font-size: 1rem
          position: relative
          color: $color1
          &:after
            content: ''
            position: absolute
            bottom: -0.33rem
            left: 0
            width: 0
            height: 1px
            background-color: $color1
            transition: 0.33s
        .commits
          font-size: 0.85rem
        .description
          color: #262626
          font-size: 0.85rem
