@import 'variables'

#userCard
  .top
    +fb(center, space-between)
    padding: 1rem 2rem
    border-bottom: 1px solid $shadow
    img
      height: 3rem
      width: 3rem
      border-radius: 100%
    .name
      font-size: 1rem
  .bottom
    padding: 2rem
    .bio
      font-size: 1.5rem
      font-weight: 300
      line-height: 1.2
      margin-bottom: 0.5rem
    .location
      font-size: 0.85rem
    .email
      font-size: 0.85rem
      display: block
      margin-top: 2rem
      text-align: right
      transition: 0.25s
